.christmas {
  position: relative;
  margin: 40rpx;
  height: 300rpx;
  display: flex;
  align-items: center;
  justify-content: center;

  //background-color: #273746;
  .img {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 60rpx;
  }

  .text {
    margin-bottom: 20rpx;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }

  .node {
    position: absolute;
    bottom: 10rpx;
    left: 80rpx;
    text-align: center;
    font-size: 16px;
    color: #273746;
    font-weight: bold;
  }
}

.about {
  $length: 100px;
  $gap: 30px;
  position: fixed;
  bottom: $gap;
  right: $gap;

  .img {
    height: $length;
    width: $length;
  }

  .text {
    position: fixed;
    bottom: (($length + $gap)/2);
    right: (($length + $gap)/2);
    font-size: 16px;
    font-weight: bold;
  }
}