.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .part {
    width: 650rpx;
    height: 400rpx;
    margin: 80rpx;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: {
      radius: 10px;
    }

    .img {
      height: 100%;
      width: 100%;
    }

    .text {
      margin-top: -45px;
      font-size: 26px;
      font-weight: bold;
      color: red;
    }
  }

  .fin {
    background-color: #fdd62f;
    margin: 80rpx 0;
  }

  .endPart {
    //position: absolute;
    width: 100%;
    height: 200rpx;
    white-space: nowrap;
    margin: 50rpx 0;
    //bottom: 25px;
    //display: flex;
    //justify-content: space-around;
    //display: inline;
    z-index: 10;

    .hatBtn {
      display: inline;
      //height: 200rpx;
      //width: 100rpx;
      padding: 50rpx;
      margin: 10px;
      //margin: -200px 10px 0;
      border-radius: 50%;
      z-index: -1;

      .img {
        height: 100rpx;
        width: 100rpx;
      }
    }
  }
}
